/* font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

/* css link */

/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightgrey: #27282B;
    --dark: #201e1e;
    --green: #55EC20;
    --font: #EBEBEB;
}

body {
    background-color: var(--lightgrey );
    color: var(--font);
    font-family: 'Roboto', sans-serif;
}

/* insallering icon */
.fa-gear {
    position: relative;
    top: 16px;
    right: 16px;
    left: 89.87vw;
    font-size: 22px;
    color: var(--green);
}

/* overskrift */
.elpris h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 20px;
}

/* footer */
footer {
    margin-top: 100px;
}
.footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 79px;
    flex-shrink: 0;
    background-color: var(--dark);
    text-align: center;
}
footer p:nth-child(1) {
    padding: 20px 0 0 0;
}
footer p {
    margin: auto;
    width: 73.6%;
    color: #EBEBEB;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}
footer span {
    color: var(--green);
}