/* overskrift */
.elpris h2 {
    margin-top: 50px;
}
/* indstillinger  */
.settings-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 375px;
    justify-content: space-between;
    align-items: center;
    gap: 0 50px;
    margin: auto;
    margin-top: 49px;
}

.settings-wrapper p {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

/* knap til højre */
.toggle {
    position: relative;
    width: 63px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 64px;
    background: var(--dark);
    outline: 1px dashed var(--green);
}

.toggle input {
    display: none;
}

.toggle .dot {
    width: 30px;
    height: 30px;
    background: var(--green);
    position: absolute;
    border-radius: 100%;
    transition: all 200ms ease;
    right: 0;
    top: 0;
}
/* cirkel i midten */
.dot {
    right: 3px;
    top: 3px;
}
/* cirkel flytter sig ved click */
.toggle input:checked + .dot {
    right: 43px;
}
.check-input:checked {
outline: 1px dashed red;

}

.toggle {
    margin-left: -35px;
    margin-top: -15px;
    margin: 10px;
}


/* dropdown region vælger */
select {
    width: 180px;
    height: 50px;
    font-size: 16px;
    padding: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
  
option, select {
    text-align: center;
    border: none;
    font-size: 10px;
    font-weight: 300;
    font-size: normal;
    text-transform: uppercase;
    font-size: 14px;
    background-color: var(--dark);
    color: var(--font);
}

#arrowIcon {
    position: absolute;
    right: 8px;
    color: var(--green);
    pointer-events: none;
    cursor: pointer;
    transition: transform 200ms ease;
}

#arrowIcon.rotate i {
    transform: rotate(180deg);
  }